{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
        <header>
          <nav class="navbar">
            <a class="logo" href="#">SmartMoToRs<span>.</span></a>
            <ul class="menu-links">
              <span id="close-menu-btn" class="material-symbols-outlined">close</span>
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'products' %}">Products</a></li>
              <li><a href="https://www.google.com/maps/place/DEDAN+KIMATHI+UNIVERSITY/@-0.3950126,36.9551816,15.28z/data=!4m10!1m2!2m1!1sdkut!3m6!1s0x1828677a4955ff13:0x7ae4dae9615396a6!8m2!3d-0.3978314!4d36.9609217!15sCgRka3V0WgYiBGRrdXSSAQp1bml2ZXJzaXR5mgEkQ2hkRFNVaE5NRzluUzBWSlEwRm5TVVJDZG1adVREZEJSUkFC4AEA!16s%2Fm%2F04q3glb?entry=ttu" target="_blank">Location</a></li>
              <li><a href="{% url 'about' %}">About us</a></li>
              <li><a href="{% url 'contacts' %}">Contact us</a></li>
            </ul>
            <span id="hamburger-btn" class="material-symbols-outlined" style="color: white;">menu</span>
          </nav>
        </header>
<h1 style="text-align: center; color: #79aec8; margin-top: 150px">Contacts</h1>
<ul style="text-align: center; color: #79aec8">
    <li>Email : felixkipkiruikerich@gmail.com</li>
    <li>Tel :+254704494196</li>
</ul>
<script src="{% static 'javascript.js' %}"></script>
</body>
</html>